.menulist{
    width: 150px;
    display: inline-block;
    .menuitem{
        h5{
            line-height: 20px;
        }
        .el-col{
            float: initial;
            width: 100%;
            a{
                color: #fff;
            }
        }
    }
}